CPSC259_Lab2_Takehome.vcxproj
CPSC259_Lab2_Takehome.vcxproj.filters
CPSC259_Lab2_Takehome.vcxproj.user
long_sample.txt
long_sample_result.txt
perfect_match.txt
perfect_match_result.txt
short_sample.txt
short_sample_result.txt
x64/